[Desktop Entry]
Encoding=UTF-8
Name=Link to Download
Type=Link
URL=https://serge.convertio.me/p/Xb716hhXM_osrgVZPUNXrA/07971dd53931038c7dd0ea14ad3cef12/color_logo_transparent.png_64x64.xpm
Icon=application-octet-stream
